@import "../../../styles/base.scss";

.first__deliveries__carousel {
    padding: 3rem 0 3rem 0;
    .first__deliveries_carousel__container {
        @include flex(center, flex-start);
        overflow-x: auto;
        white-space: nowrap;
        gap: 0.5rem;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .carousel__image {
            width: auto;
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) {
    .first__deliveries__carousel {
        @include flex(center, center);
        flex-direction: column;
        overflow: visible;
        white-space: normal;
        .first__deliveries_carousel__container {
            @include flex(center, center);
            width: 100%;

            .carousel__image {
                width: 20%;
                max-width: 100%;
            }
        }
    }
}
