@import "../../styles/base.scss";

.products__advantages {
    padding: 0.75rem;
    background-color: $bg-yellow;
    padding: 1rem;
    &__info {
        @include flex(center, center);
        flex-direction: row;
        gap: 1rem;
        padding: 1.5rem 0 1.5rem 0;

        p {
            font-size: 0.75rem;
            width: 16rem;
        }
        &__img {
            width: 5rem;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .products__advantages {
        @include flex(center, center);
        flex-direction: row;

        &__info {
            height: 10rem;
        }
    }
}
